:root {
    --cell-size: 100px;
    --piece-size: calc(var(--cell-size) * .85);

    --bg-color: #333333;
    --board-color: dodgerblue;
    --one-color: yellow;
    --two-color: red;
}

body {
    background-color: var(--bg-color);
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(7, auto);
    justify-items: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--cell-size);
    height: var(--cell-size);

    cursor: pointer;
}

.game-cell {
    background-color: var(--board-color);
}

.game-cell::before {
    position: absolute;

    content: '';
    width: var(--piece-size);
    height: var(--piece-size);
    border-radius: 50%;

    background-color: var(--bg-color);
}

.game-cell.one,
.game-cell.two {
    cursor: not-allowed;
}

/* Jogador Amarelo */
.cell.one::before {
    background-color: var(--one-color);
}

/* Jogador Vermelho */
.cell.two::before {
    background-color: var(--two-color);
}

.cell:nth-child(7n + 1):hover {
    /* TODO: Dar um jeito de fazer a peça da vez aparecer na coluna em que o mouse está. Provavelmente vai ter que ser feito em JS. */
    background-color: var(--board-color);
}