:root {
    --cell-size: 100px;
    --piece-size: calc(var(--cell-size) * .85);

    --bg-color: #333333;
    --board-color: dodgerblue;
    --one-color: gold;
    --two-color: crimson;

    --pseudo-cells: hidden;
}

@media (max-width: 1400px) {
    :root {
        --cell-size: 75px;
    }
}

body {
    background-color: var(--bg-color);
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(7, auto);
    justify-items: center;
    align-items: center;
}

.pseudo {
    visibility: var(--pseudo-cells);

    width: var(--cell-size);
    height: var(--cell-size);

    background-color: var(--bg-color) !important;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--cell-size);
    height: var(--cell-size);

    background-color: var(--board-color);

    cursor: pointer;
}

.cell::before {
    position: absolute;

    content: '';
    width: var(--piece-size);
    height: var(--piece-size);
    border-radius: 50%;

    background-color: var(--bg-color);
}

/* Jogador Amarelo */
.one::before {
    background-color: var(--one-color);
}

/* Jogador Vermelho */
.two::before {
    background-color: var(--two-color);
}

.column:hover {
    --pseudo-cells: visible;
}